#loginPage > h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #fde7ff;
    margin-bottom: 9rem;
}

#loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginPage > form > p {
    text-align: center;
    font-size: 1.2rem;
}

#loginPage > form > a > p {
    text-align: center;
    font-size: 1.2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #3456FF;
    color: white;
    padding: 3rem;
    border-radius: 0.5rem;
    height: fit-content;
    width: 70vw;
}

.login-form > input {
    margin-bottom: 2rem;
    height: 3rem;
    border: none;
    box-shadow: 0px 3px 18px rgba(39, 43, 53, 0.281);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.login-form > select {
    margin-bottom: 2rem;
    height: 3rem;
    border: none;
    box-shadow: 0px 3px 18px rgba(39, 43, 53, 0.281);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.login-form > label {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
}


.primary-button {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border: none;
    box-shadow: 0px 3px 18px rgba(39, 43, 53, 0.281);
    border-radius: 0.5rem;
    background-color: #A555EC;
    color: #fbeeff;
}

.secondary-button {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
    border: none;
    box-shadow: 0px 3px 18px rgba(39, 43, 53, 0.281);
    border-radius: 0.5rem;
    border: solid 1px #A555EC;
    color: #A555EC;
}
