#thisTask {
width: 90vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}

#thisTaskName {
width: 100%;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin-top: 5rem;
}

#thisTaskName > h2 {
width: 95%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 4rem;
border-radius: 0.5rem;
font-weight: bold;
}

#leaderGroup {
width: 95%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-bottom: 5vh;
}

#leaderGroup > * {
height: 60%; 
display: flex;
justify-content: center;
align-items: center;
font-size: 1.4rem;
border-radius: 0.5rem;
border: none;
}

#thisCountdown {
height: 11vw; 
outline: solid 3px rgb(255, 0, 0);
color: rgb(255, 0, 0);
font-size: 1.8rem;
font-weight: bold;
width: 35%;
padding: 0;
}

#leaderBoards {
height: 11vw;
position: relative;
margin: 0;
background-color: transparent;
width: 15%;
}

#trophy {
width: 100%;
height: 100%;
background-image: url('/src/img/throphy.svg');
}

#addNewTask {
height: 11vw;
position: relative;
background-color: #3456FF;
color: white;
width: 35%;
}

#taskList {
width: 95%;
}

#taskList > li {
padding: 1.5rem 1.5rem 1.5rem 2.5rem;
border-radius: 2rem;
height: fit-content;
font-size: 1.5rem;
margin: 1rem;
display: flex;
flex-direction: column;

}

.false {
background-color: rgb(255, 83, 83);
color: white;
}

.true {
background-color: rgb(54, 255, 104);
color: rgb(83, 83, 83);
}

#taskLabel {
color: white;
font-size: 2.2rem;
height: 3rem;
display: flex;
}

.startDiv {
width: 100%;
height: fit-content;
display: flex;
flex-direction: row;
justify-content: space-between;
font-weight: bold;
font-size: 1.5rem;
}

.arrow {
width: 5vw;
animation: rotation 0.5s  linear;
}

#newSubtaskDescription {
margin-bottom: 2rem;
padding: 1rem;
}