#registerPage > h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #fde7ff;
    padding: 3rem;
    text-align: center;
}

div > h2 {
    font-size: 1.5rem;
    color: #fde7ff;
    margin: 0rem 0 4rem 0;
}

#registerPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: #f6ebff;
    padding: 3rem;
    border-radius: 0.5rem;
    height: fit-content;
    width: 70vw;
    margin-bottom: 5rem;
}
.register-form > input {
    margin-bottom: 2rem;
    height: 3rem;
    border: none;
    box-shadow: 0px 3px 18px rgb(218, 185, 223);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.register-form > label {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
}

.register-form > a {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;

}


.primary-button {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border: none;
    box-shadow: 0px 3px 18px rgb(218, 185, 223);
    border-radius: 0.5rem;
    background-color: #A555EC;
    color: #fbeeff;
}