@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;}

#app {
 background: linear-gradient(180deg, rgb(86, 151, 255) 24%, rgba(190, 90, 226, 0.808) 72%, rgba(251,196,216,1) 94%);    
 min-height: 100vh;   
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 position: relative;
}

.error {
    color: rgb(255, 24, 24);
    font-weight: bold;
    text-align: left;
    height: 3rem;
}

.hidden {
    display: none;
}